
*{
    font-family: 'Times New Roman';
}
    h2{
    color: rgb(121, 95, 95);
}
p{
    color: palegreen;
}
button{
    color: red;
    background-color: black;
}
body{
    background-color: white;
}
#one{
    color: yellow;
}
#two{
    color: yellow;
}
#three{
    text-transform: capitalize;

}
#three{
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#iner{
    font-size: 10px;
}
#1{
    font-size: 25px;
}
div{
    height: 100px;
}